/* تنسيق أيقونات التواصل الاجتماعي */
.social-links {
    margin-top: 25px;
}

.social-icon {
    font-size: 2em;
    margin: 0 15px;
    color: #e0e0e0;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #ffaa00; /* تغيير اللون إلى الذهبي عند التمرير */
}
